header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.container{
    display: flex;
    justify-content:space-between;
    width: 1600px;
    margin: 30px auto;
}
.nav-div{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}
.nav-a{
    color: #303134;
    font-size: 16px; 
}
